body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('academia.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Sobreposição escura para melhor legibilidade */
  z-index: 0;
}

main.hero,
header,
footer {
  position: relative;
  z-index: 1; /* Garante que o conteúdo fique acima da sobreposição */
}
